html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Passion One', cursive;
}

.startpage {
    background-image: url("img/WebBackground.png");
    background-position: center;
    background-size: 2000px 2000px;
}

#parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(img/IbexEventsLogo.png);
    background-repeat: no-repeat;
    background-size: 60ch 60ch;
    background-position: center;
    background-position: 50% 50%;
}
.startpagetitle {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px #000;
    color: #FFF;
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 70px;
}

.aboutcard {
    margin: 10px;
    padding: 0px;
}

.aboutcardrow {
    padding: 10px 0px; !important;
    margin: 0px; !important;
}

.sectioncards {
    padding-top: 50px;
    width: 100%;
    height: 80vh;
}

a:link {
    color: #000;
}

a:visited {
    color: #333;
}

a:hover {
    color: #333;
}

